---
const year = new Date().getFullYear();
---
<footer>
    <div>
        <p>&copy; Blackstone {year}</p>
        <p>無断転載を禁止します</p>
    </div>
</footer>
<style>
    footer {
        margin: 4rem 0;
    }

    p {
        text-align: center;
    }
</style>
