---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="nav-bar">
    <div class="title-link">
        <a href="/">Blackstone</a>
    </div>
    <div class="nav-links">
        <a href="#About Me">About Me</a>
        <a href="#Works">Works</a>
        <a href="https://github.com/blackstone9614" target="_blank">GitHub</a>
        <ThemeIcon />
    </div>
</div>
